version: '3.8'

services:
  laravel.test:
    build:
      context: .
      dockerfile: docker/sail/Dockerfile
    image: newurl_laravel_test
    ports:
      - "8000:80"
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      WWWGROUP: '1000'
    volumes:
      - ./:/var/www/html:cached
      - vendor:/var/www/html/vendor
      - node_modules:/var/www/html/node_modules
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: sail
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"

volumes:
  mysql:
  vendor:
  node_modules:
