app = "REPLACE_WITH_YOUR_APP_NAME"
primary_region = "gru"

[build]
  # leave image empty to build using Dockerfile in repo
  image = ""

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
  LOG_CHANNEL = "stack"

[deploy]
  # release_command is executed on each deploy and is useful to run migrations
  release_command = "php artisan migrate --force && php artisan storage:link"

[[services]]
  internal_port = 9000
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.tcp_checks]]
    interval = 10000
    timeout = 2000
    grace_period = 10000
    restart_limit = 0

[experimental]
  auto_rollback = true

[[mounts]]
  source = "storage"
  destination = "/var/www/html/storage"
